{% extends 'base.html.twig' %}

{% block title %}Tous les articles
{% endblock %}

{% block body %}

	<div class="max-w-screen-xl mx-auto p-5 sm:p-8 md:p-12">
		<div class="navigation flex justify-center mb-8 mt-4">
			{{ knp_pagination_render(articles)}}
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
			{% for article in articles %}
				{% include "_components/_card.html.twig" with{articles:articles} %}
			{% endfor %}
		</div>

		<div class="navigation flex justify-center mb-8 mt-4">
			{{ knp_pagination_render(articles)}}
		</div>
	</div>
{% endblock %}
